  {% extends "base.html" %}
  {% load static %}
  {% block title %}Contato | Keven{% endblock %}
  {% block content %}

  <div class="hero">
    <h1>Contato</h1>
    <p>Entre em contato comigo pelos canais abaixo.</p>
  </div>

  <div class="contato-grid">

    <a href="mailto:keven.lucas00@hotmail.com" class="contato-card">
      <div class="contato-item">
        <img src="{% static 'imagens_habilidades/email.png' %}" alt="Email">
        <h3>Email</h3>
      </div>
    </a>

    <a href="https://github.com/KevenLucas025" target="_blank" class="contato-card">
      <div class="contato-item">
        <img src="{% static 'imagens_habilidades/github_logo.png' %}" alt="GitHub">
        <h3>GitHub</h3>
      </div>
    </a>

    <a href="https://www.linkedin.com/in/keven-lucas-32949b205/" target="_blank" class="contato-card">
      <div class="contato-item">
        <img src="{% static 'imagens_habilidades/linkedin.webp' %}" alt="LinkedIn">
        <h3>LinkedIn</h3>
      </div>
    </a>

  </div>

  {% endblock %}