{% extends "base.html" %}
{% block title %}Projetos | Keven{% endblock %}
{% block content %}
<h1>Projetos</h1>

<div class="grid">
  {% for p in projetos %}
    <div class="card projeto-card">

      <div class="imagem-container">
        {% if p.imagem %}
          <img src="{{ p.imagem.url }}" alt="{{ p.titulo }}" class="projeto-img">
        {% else %}
          <div class="sem-imagem">Sem imagem</div>
        {% endif %}

        <div class="overlay">
          <h3 class="overlay-titulo">{{ p.titulo }}</h3>

          <div class="overlay-botoes">
            {% if p.link_github %}
              <a href="{{ p.link_github }}" target="_blank" class="btn-overlay">GitHub</a>
            {% endif %}

            {% if p.link_demo %}
              <a href="{{ p.link_demo }}" target="_blank" class="btn-overlay">Demo</a>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  {% empty %}
    <p>Nenhum projeto cadastrado ainda.</p>
  {% endfor %}
</div>
{% endblock %}